<header class="header">
  <div class="header-logo-wrapper">
    <div class="header-logo-image">
      <a href="https://portal.emnify.com/" title="EMnify Portal">
        {{!-- full logo for desktop --}}
      <img src="//theme.zdassets.com/theme_assets/10718269/c97d3bf786abc88ee6739664d47c6f7eeaf7bdc0.png" alt="Logo" height="48px" width="110px">
    </a>
        {{!-- favicon for mobile --}}
      </a>
    </div>
    <div class="header-logo-title">
      <a href="/hc/en-us" title="EMnify Support">developer hub</a>
    </div>
  </div>
  <div class="nav-wrapper">
    <span class="icon-menu" tabindex="0" role="button" aria-controls="user-nav" aria-expanded="false"
      aria-label="{{t 'toggle_navigation'}}"></span>
    <nav class="user-nav" id="user-nav">
      {{link 'community' class='community-link'}}
      {{link 'new_request' class='submit-a-request'}}
    </nav>
    {{user_info}}
  </div>
</header>